@font-face {
    font-family: 'EnigmaB_2-webfont';
    src: url('../fonts/EnigmaB_2-webfont.eot');
    src: url('../fonts/EnigmaB_2-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/EnigmaB_2-webfont.woff') format('woff'),
    url('../fonts/EnigmaB_2-webfont.ttf') format('truetype'),
    url('../fonts/EnigmaB_2-webfont.svg#EnigmaB_2-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeue-webfont';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeue-webfont.woff') format('woff'),
    url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
    url('../fonts/BebasNeue-webfont.svg#BebasNeue-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family:Helvetica, Helvetica Neue, Arial, sans-serif;
	width:100%;
	margin: 0; 
	background-color:#A4C639
}

.wrapper{
	margin:auto;
	width:1200px;
}

.wrapper-content{
	margin:auto;
	width:1245px;
}

#main {
	margin-top:0px;
	overflow:hidden;
	background-color:white;
	background-image:url('../images/background.jpg');
	margin-bottom:0;
	height:1730px;
}

article {
	margin:auto;
	width:1245px;
}

#header-container{
	position:relative;
	z-index:8;
	margin:auto;
	padding:15px;
	margin-top:0px;
	background-color:#A4C639;
	height:80px;
	width:1200px;
}

#header-container h1 {
	margin:0px;
}

#header-container p {
	margin:0px;
}

header div{
	position:relative;
	bottom:15px;
	float:right;
	height:90px;
	width:570px;
	background-color:#B5DB3B;
}

hr {
	border:0;
	background-color:#d1d1d1;
	height:2px;
	margin-bottom:15px;
}

h2, h3{margin:30px 0;}
h2{font-size: 40px;}
h3{font-size: 30px;}
#title, h1, h3{font-weight:normal;}

#title{
	font-family:"EnigmaB_2-webfont";
	font-size: 65px;
	color:white;
}

#baseline {
	font-family:"EnigmaB_2-webfont";
	font-size:15px;
	color:white;
}

#menu {
	position:relative;
	z-index:2;
	margin:auto;
	width:100%;
	height:67px;
	margin:auto;
	font-family:"BebasNeue-webfont";
	text-align:center;
	background-color:#8ead1c;
	-moz-box-shadow: 0px 4px 4px 0px #656565;
	-webkit-box-shadow: 0px 4px 4px 0px #656565;
	-o-box-shadow: 0px 4px 4px 0px #656565;
	box-shadow: 0px 4px 4px 0px #656565;
}

#menu div {
	width:1035px;
	margin:auto;
}

#menu ul {
    	list-style:none;
	display:inline;
}

#menu ul li {
	display:inline;
}

#menu ul li a {
	background-color:#9fbf20;
	margin-left:2px;
	float:left;
	width:140px;
	padding:15px;
	text-decoration:none;
	display:block; 
	font-size:30px;
	color:white;
	-webkit-transition: background .3s ease, color 0.2s linear;
	-moz-transition: background .3s ease, color 0.2s linear;
	-o-transition: background .3s ease, color 0.2s linear;
	transition: background .3s ease, color 0.2s linear;
}

#menu ul li a:hover {
	color:white;
	background-color:#aad422;
}

.column {
	margin-right:10px;
	float:left;
	width:610px;
}

.column h3 {
	margin:0;
	margin-top:35px;
	color:#9e9e9e;
	font-size:50px;
	height:40px;
	padding:0;
	padding-top:25px;
	font-family:"BebasNeue-webfont"
}

.syntaxhighlighter {
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

#footer-container{
	margin-top:-15px;
	text-align:center;
	clear:both;
	height:75px;
	background-color:#474747;
	padding-top:1px;
}

#footer-container footer{
}

#footer-container footer p{
	color:gray;
	font-size:16px;
}

.italic { font-style:italic;color:white; }

.author {
	color:#A4C639;
}
